/* tailwind.config.js */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  overflow-x: hidden;
}

::selection {
  background-color: #B87B4B;
  color: #F5F4F2;
}

/* // Agregar estos estilos en tu archivo CSS global */
.animate-fade-in {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
